# Build directories
/build/
/out/
/.cache/

# CMake
CMakeUserPresets.json
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# IDE
.vscode/
.idea/
*.sln
*.vcxproj*

# Binaries
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
